<table style="max-width: 600px; padding: 0px; margin:0 auto; border-collapse: collapse;">
    <tr>
        <td style="padding: 0">
            <img style="min-width:100% ;padding: 0; display: block" src="https://i.ibb.co/LzSNw1d/header.png" alt="header">
        </td>
    </tr>

    <tr>
        <td style="background-color:#19467f">
            <div style="color: bisque; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
                <h2 style="color: blanchedalmond; margin: 0 0 7px">CORREO NOTIFICACIÓN</h2>
                <p style="margin: 2px; font-size: 15px">
                    Hola {{full_name}},<br><br>
                    El Sistema de Gestion de Posgrados le notifica lo siguiente:<br>
                    La actividad {{title}}, identificada con el id {{id}}, 
                    acaba de ser calificada por el coordinador {{full_name_coordinator}}.<br>
                    <div style="width: 100%; text-align: center; padding-top:25px">
                        <a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #3498db"
                            href="https://mdquilindo.pythonanywhere.com/admin/b_activities_app/activity">Ir a la página
                        </a>
                    </div>
                    <p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">PROYECTO GESTION DE POSGRADOS
                        2020
                    </p>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding: 0">
            <img style="min-width:100% ;padding: 0; display: block" src="https://i.ibb.co/7nkTTM4/footer.png" alt="footer">
        </td>
    </tr>
</table>