<table style="max-width: 600px; padding: 0px; margin: 0 auto; border-collapse: collapse">
  <tr>
    <td style="padding: 0">
      <img
        style="min-width: 100%; padding: 0; display: block"
        src="https://i.ibb.co/LzSNw1d/header.png"
        alt="header"
      />
    </td>
  </tr>
  <tr>
    <td style="background-color: #19467f">
      <div style="color: bisque; margin: 4% 10% 2%; text-align: justify; font-family: sans-serif">
        <br />
        <h3 style="color: blanchedalmond; margin: 0 0 7px; text-align: center;">
          Notificación Sistema de Posgrados de asignación de actividad
        </h3>
        <p style="margin: 2px; font-size: 15px">
          Estimado coordinador {{full_name}},<br /><br />
          El director/coodirector {{full_name_director}} acaba de calificar la actividad {{title}}
          [{{id}}], ahora podrá realizar la respectiva calificación como coordinador del programa.
          <br /><br />
          Servicio de notificación del Sistema de Posgrados.<br/><br /><br /><br />
        </p>
        <p><i>Por favor no responder a este correo electrónico.</i></p>

        <div style="width: 100%; text-align: center; padding-top: 25px">
          <a
            style="
              text-decoration: none;
              border-radius: 5px;
              padding: 11px 23px;
              color: white;
              background-color: #3498db;
            "
            href="https://posgradosunicauca.netlify.app/login"
            >Ir a la página
          </a>
        </div>
        <p style="color: #b3b3b3; font-size: 12px; text-align: center; margin: 30px 0 0">
          PROYECTO GESTION DE POSGRADOS 2020
        </p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="padding: 0">
      <img
        style="min-width: 100%; padding: 0; display: block"
        src="https://i.ibb.co/7nkTTM4/footer.png"
        alt="footer"
      />
    </td>
  </tr>
</table>
