<table style="max-width: 600px; padding: 0px; margin: 0 auto; border-collapse: collapse">
  <tr>
    <td style="padding: 0">
      <img
        style="min-width: 100%; padding: 0; display: block"
        src="https://i.ibb.co/LzSNw1d/header.png"
        alt="header"
      />
    </td>
  </tr>

  <tr>
    <td style="background-color: #19467f">
      <div style="color: bisque; margin: 4% 10% 2%; text-align: justify; font-family: sans-serif">
        <h2 style="color: blanchedalmond; margin: 0 0 7px; text-align: center;">
          Notificación Sistema de Posgrados calificación de actividad
        </h2>
        <p style="margin: 2px; font-size: 15px">
          Estimado estudiante {{full_name}},<br /><br />
          El coordinador {{full_name_coordinator}} acaba de calificar la actividad {{tittle}}
          [{{id}}].
          <br /><br />
          Servicio de notificación del Sistema de Posgrados.<br /><br /><br /><br />
        </p>
        <p><i>Por favor no responder a este correo electrónico.</i></p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="padding: 0">
      <img
        style="min-width: 100%; padding: 0; display: block"
        src="https://i.ibb.co/7nkTTM4/footer.png"
        alt="footer"
      />
    </td>
  </tr>
</table>
